
 <%= turbo_frame_tag "dimensions" do %>
  <div class="container flex px-6 py-4 mx-auto mt-8 border border-white rounded">
    <div class="flex-col px-2 text-white">
      <form action="/quantities/dimensions" method="get" class="p-4 bg-blue-600 border border-white rounded">
        <h2 class="text-2xl font-bold">Calculate Required Material</h2>
        <p class="mb-4">Please enter the dimensions and material type to calculate the required quantities.</p>
        <div class="mb-4">
          <label for="length" class="block mb-2 font-bold text-white">Length (m):</label>
          <input type="number" id="length" name="length" step="0.01" autocomplete="off" class="w-full px-3 py-2 text-black border rounded" required>
        </div>
        <div class="mb-4">
          <label for="width" class="block mb-2 font-bold text-white">Width (m):</label>
          <input type="number" id="width" name="width" step="0.01" autocomplete="off" class="w-full px-3 py-2 text-black border rounded" required>
        </div>
        <div class="mb-4">
          <label for="material" class="block mb-2 font-bold text-white">Material Type:</label>
          <select id="material" name="material" class="w-full px-3 py-2 text-black border rounded" required>
            <option value="" disabled selected>Select Material</option>
            <option value="300g_chop_strand_mat">300g Chop Strand Mat</option>
            <option value="450g_chop_strand_mat">450g Chop Strand Mat</option>
            <option value="600g_chop_strand_mat">600g Chop Strand Mat</option>
            <option value="900g_chop_strand_mat">900g Chop Strand Mat</option>
            <option value="125g_plain_weave_cloth">125g Plain Weave Cloth</option>
            <option value="200g_plain_weave_cloth">200g Plain Weave Cloth</option>
            <option value="300g_woven_roving">300g Woven Roving</option>
            <option value="600g_woven_roving">600g Woven Roving</option>
            <option value="800g_woven_roving">800g Woven Roving</option>
            <option value="600_300_combination_matt">600/300 Combination Matt</option>
            <option value="800_450_combination_matt">800/450 Combination Matt</option>
            <option value="600g_biaxial_glassfibre">600g Biaxial Glassfibre</option>
            <option value="800g_biaxial_glassfibre">800g Biaxial Glassfibre</option>
            <option value="gel_coat">Gel Coat</option>
          </select>
        </div>
        <div class="mb-4">
          <label for="layers" class="block mb-2 font-bold text-white">Number of Layers:</label>
          <select id="layers" name="layers" class="w-full px-3 py-2 text-black border rounded" required>
            <option value="" disabled selected>Select Number of Layers</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>
        </div>
        <div class="mb-4">
          <label for="catalyst" class="block mb-2 font-bold text-white">Catalyst Ratio:</label>
          <select id="catalyst" name="catalyst" class="w-full px-3 py-2 text-black border rounded" required>
            <option value="" disabled selected>Select Catalyst</option>
            <option value="1">1%</option>
            <option value="2">2%</option>
            <option value="3">3%</option>
            <option value="4">4%</option>
          </select>
        </div>
        <button type="submit" class="px-4 py-2 font-bold text-white bg-blue-500 rounded hover:bg-blue-700">Calculate</button>

        <table class="container mt-4 border border-white rounded">
          <thead class="text-left bg-blue-400 border border-white">
            <tr>
              <th class="px-2">Parameters</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="border border-white">
                <p class="px-2 font-bold text-white">Length</p>
              </td>
              <td class="border border-white">
                <p class="px-2 font-bold text-white"><%= @length %> m</p>
              </td>
            </tr>
            <tr>
              <td class="border border-white">
                <p class="px-2 font-bold text-white">Width</p>
              </td>
              <td class="border border-white">
                <p class="px-2 font-bold text-white"><%= @width %> m</p>
              </td>
            </tr>
            <tr>
              <td class="border border-white">
                <p class="px-2 font-bold text-white">Num Layers</p>
              </td>
              <td class="border border-white">
                <p class="px-2 font-bold text-white"><%= @layers %></p>
              </td>
            </tr>
            <tr>
              <td class="border border-white">
                <p class="px-2 font-bold text-white">Material</p>
              </td>
              <td class="border border-white">
                <p class="px-2 font-bold text-white"><%= @material %></p>
              </td>
            </tr>
            <tr>
              <td class="border border-white">
                <p class="px-2 font-bold text-white">Material Weight Per Sq Meter</p>
              </td>
              <td class="border border-white">
                <p class="px-2 font-bold text-white"><%= @material_weight %> kg</p>
              </td>
            </tr>
            <tr>
              <td class="border border-white">
                <p class="px-2 font-bold text-white">Material Width</p>
              </td>
              <td class="border border-white">
                <p class="px-2 font-bold text-white"><%= @material_width %> m</p>
              </td>
            </tr>
            <tr>
              <td class="border border-white">
                <p class="px-2 font-bold text-white">Resin To Glass Ratio</p>
              </td>
              <td class="border border-white">
                <p class="px-2 font-bold text-white"><%= @ratio %>:1</p>
              </td>
            </tr>
            <tr class="bg-blue-400">
              <td colspan="2" class="border border-white ">
                <p class="px-2 font-bold text-white">Results</p>
              </td>
            </tr>
            <tr>
              <td class="border border-white">
                <p class="px-2 font-bold text-white">Area</p>
              </td>
              <td class="border border-white">
                <p class="px-2 font-bold text-white"><%= @area %> m²</p>
              </td>
            </tr>
            <tr>
              <td class="border border-white">
                <div class="flex">
                  <p class="px-2 font-bold text-white">Min Mat Req (m): <%= @mat %> m + 15%</p>
                </div>
              </td>
              <td>
                <div class="flex">
                  <p class="px-2 font-bold text-white"><%= @mat_total %> m</p>
                </div>
              </td>
            </tr>
            <tr>
              <td class="border border-white">
                <div class="flex">
                  <p class="px-2 font-bold text-white">Min Mat Req (kg): <%= @mat_kg %> kg + 15%</p>
                </div>
              </td>
              <td class="border border-white">
                <div class="flex">
                  <p class="px-2 font-bold text-white"><%= @mat_total_kg %> kg</p>
                </div>
              </td>
            </tr>
            <tr>
              <td class="border border-white">
                <div class="flex">
                  <p class="px-2 font-bold text-white">Min Resin Req: <%= @resin %> kg + 15%</p>
                </div>
              </td>
              <td class="border border-white">
                <div class="flex">
                  <p class="px-2 font-bold text-white"><%= @resin_total %> kg</p>
                </div>
              </td>
            </tr>
            <tr>
              <td class="border border-white">
                <div class="flex">
                  <p class="px-2 font-bold text-white">Catalyst Required @ <%= @catalyst %>%</p>
                </div>
              </td>
              <td class="border border-white">
                <div class="flex">
                  <p class="px-2 font-bold text-white"><%= @catalyst_ml %> ml</p>
                </div>
              </td>
            </tr>
            <tr>
              <td class="border border-white">
                <div class="flex">
                  <p class="px-2 font-bold text-white">Total Material Weight</p>
                </div>
              </td>
              <td class="border border-white">
                <div class="flex">
                  <p class="px-2 font-bold text-white"><%= @total_weight %> kg</p>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>

    <div class="flex-col px-2 text-white border border-white rounded width-max">
      <p>More text to go here later.</p>
    </div>
  </div>
<% end %>
