<nav class="fixed top-0 z-10 w-full gap-10 bg-blue-600">
  <div class="px-2 mx-auto border-b max-w-7xl sm:px-6 lg:px-8">
    <div class="relative flex items-center justify-between h-16">
      <div class="flex items-center justify-center flex-1 sm:items-stretch sm:justify-between">
        <div class="flex items-center flex-shrink-0">
          <%= link_to root_path do %>
            <%= image_tag 'SCFS-Logo.jpg', class: 'block lg:hidden h-12 w-auto' %>
          <% end %>
          <%= link_to root_path do %>
            <%= image_tag 'SCFS-Logo.jpg', class: 'hidden lg:block h-12 w-auto' %>
          <% end %>
          <%= link_to 'Shop', root_path, class: "text-gray-100 hover:underline py-2 rounded-md text-md font-medium" %>
        </div>
        <div class="flex items-center flex-shrink-0">
          <%= link_to 'Southcoast Fibreglass Supplies', contact_path, class: "text-4xl font-bold text-gray-100 hover:underline py-2 rounded-md text-md font-medium " %>
        </div>
        <div class="items-center justify-center hidden sm:flex sml:ml-6">
          <div class="flex space-x-10">
            <%= link_to cart_path, class: "text-gray-100 hover:underline py-2 rounded-md text-md font-medium" do %>
              <%= icon 'fa-solid', 'shopping-cart' %>
            <% end %>
            <%= link_to 'Cart', cart_path, class: "text-gray-100 hover:underline py-2 rounded-md text-md font-medium " %>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
