<nav class="fixed top-0 z-10 w-full gap-10 bg-blue-600">
  <div class="px-2 mx-auto border-b max-w-7xl sm:px-6 lg:px-8">
    <div class="relative flex items-center justify-between h-16">
      <div class="flex items-center justify-center flex-1 sm:items-stretch sm:justify-between">
        <div class="flex items-center flex-shrink-0">
          <%= link_to root_path do %>
            <%= image_tag 'SCFS-Logo.jpg', class: 'block lg:hidden h-12 w-auto' %>
          <% end %>
          <%= link_to root_path do %>
            <%= image_tag 'SCFS-Logo.jpg', class: 'hidden lg:block h-12 w-auto' %>
          <% end %>
          <%= link_to 'Shop', root_path, class: "text-gray-100 hover:underline py-2 px-2 rounded-md text-md font-medium" %>
        </div>

        <div class="flex items-center flex-shrink-0 max-sm:hidden">
          <%# <%= link_to 'Southcoast Fibreglass Supplies', contact_path, class: "text-4xl font-bold text-gray-100 hover:underline py-2 rounded-md text-md font-medium " %>
          <p class="px-2 py-2 text-2xl font-medium text-gray-100 rounded-md text-md sml:block">Southcoast Fibreglass Supplies</p>
        </div>
        <div class="flex items-center flex-shrink-0 sm:hidden">
          <%# <%= link_to 'Southcoast Fibreglass Supplies', contact_path, class: "text-4xl font-bold text-gray-100 hover:underline py-2 rounded-md text-md font-medium " %>
          <p class="px-8 py-8 text-2xl font-medium text-gray-100 rounded-md text-md sml:block">SCFS</p>
        </div>

        <div class="flex items-center flex-shrink-0">
          <%= link_to cart_path, class: "text-gray-100 py-2" do %>
            <%= icon 'fa-solid', 'shopping-cart' %>
          <% end %>
          <%= link_to 'Cart', cart_path, class: "text-gray-100 hover:underline py-2 px-2 rounded-md text-md font-medium " %>
        </div>
      </div>
    </div>
  </div>
  <div class="px-2 mx-auto text-white border-b max-w-7xl sm:px-6 lg:px-8">
    <%= render_breadcrumbs :separator => ' / ' %>
  </div>
</nav>
