<div id="<%= dom_id stock %>">
  <p class="my-5">
    <strong class="block mb-1 font-medium">Size:</strong>
    <%= stock.size %>
  </p>

  <p class="my-5">
    <strong class="block mb-1 font-medium">Price:</strong>
    <% if stock.price.present? %>
      <%= formatted_price(stock.price) %>
    <% end %>
  </p>

  <p class="my-5">
    <strong class="block mb-1 font-medium">Stock Level:</strong>
    <%= stock.stock_level %>
  </p>

  <%# weight length height width %>
  <p class="my-5">
    <strong class="block mb-1 font-medium">Weight:</strong>
    <%= stock.weight %>g
  </p>

  <p class="my-5">
    <strong class="block mb-1 font-medium">Length:</strong>
    <%= stock.length %>cm
  </p>

  <p class="my-5">
    <strong class="block mb-1 font-medium">Height:</strong>
    <%= stock.height %>cm
  </p>

  <p class="my-5">
    <strong class="block mb-1 font-medium">Width:</strong>
    <%= stock.width %>cm
  </p>

  <p class="my-5">
    <strong class="block mb-1 font-medium">Product:</strong>
    <%= stock.product_id %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this stock", [:admin, stock.product, stock], class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this stock", edit_admin_product_stock_path(stock.product, stock), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
