<%= form_with(model: [:admin, admin_product], class: "contents") do |form| %>
  <% if admin_product.errors.any? %>
    <div id="error_explanation" class="px-3 py-2 mt-3 font-medium text-red-500 rounded-lg bg-red-50">
      <h2><%= pluralize(admin_product.errors.count, "error") %> prohibited this admin_product from being saved:</h2>

      <ul>
        <% admin_product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :description %>
    <%= form.text_area :description, rows: 4, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <div class="flex my-5 border border-gray-200 flex-width-max">
      <% if admin_product.images.any? %>
        <% admin_product.images.each do |image| %>
          <div class="flex border border-gray-200">
            <div class="relative z-0 w-40 h-40 bg-gray-400">
              <%= image_tag image, class: "w-30 h-30 object-cover rounded-md" %>
              <%= link_to "X",
                          admin_product_image_path(admin_product, image),
                          data: {
                            turbo_method: :delete,
                            turbo_confirm: "Are you sure you want to delete this image?"
                          },
                          class: "absolute top-0 right-0 bg-red-500 text-white rounded-full w-5 h-5 flex items-center justify-center text-xs z-10" %>
            </div>
          </div>
        <% end %><br>
      <% end %>
    </div>

    <%= form.label :images %>
    <%= form.file_field :images, multiple: true, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2" %>
  </div>

  <div class="my-5">
    <%= form.label :price %><p class="text-xs text-gray-500">in pence</p>
    <%= form.number_field :price, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2" %>
  </div>

  <div class="my-5">
    <%= form.label :stock_level %>
    <%= form.number_field :stock_level, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-50pc" %>
  </div>

  <div class="my-5">
    <%= form.label :shipping_weight %><p class="text-xs text-gray-500">in grams</p>
    <%= form.number_field :shipping_weight, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-50pc" %>
  </div>

  <div class="my-5">
    <%= form.label :shipping_length %><p class="text-xs text-gray-500">in cm</p>
    <%= form.number_field :shipping_length, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-50pc" %>
  </div>

  <div class="my-5">
    <%= form.label :shipping_height %><p class="text-xs text-gray-500">in cm</p>
    <%= form.number_field :shipping_height, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-50pc" %>
  </div>

  <div class="my-5">
    <%= form.label :shipping_width %><p class="text-xs text-gray-500">in cm</p>
    <%= form.number_field :shipping_width, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-50pc" %>
  </div>

  <div class="my-5">
    <%= form.label :fiberglass_reinforcement, "Fiberglass Reinforcement" %>
    <%= form.check_box :fiberglass_reinforcement, class: "block mt-2 h-5 w-5" %>
  </div>

  <div class="my-5">
    <%= form.label :min_resin_per_m2, "Min Resin per m²" %><p class="text-xs text-gray-500">in grams</p>
    <%= form.number_field :min_resin_per_m2, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-50pc" %>
  </div>

  <div class="my-5">
    <%= form.label :max_resin_per_m2, "Max Resin per m²" %><p class="text-xs text-gray-500">in grams</p>
    <%= form.number_field :max_resin_per_m2, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-50pc" %>
  </div>

  <div class="my-5">
    <%= form.label :avg_resin_per_m2, "Avg Resin per m²" %><p class="text-xs text-gray-500">in grams</p>
    <%= form.number_field :avg_resin_per_m2, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-50pc" %>
  </div>

  <div class="my-5">
    <%= form.label :category_id %>
    <%= form.collection_select :category_id, Category.order(:name), :id, :name, id: "category", class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :active %>
    <%= form.check_box :active, class: "block mt-2 h-5 w-5" %>
  </div>

  <% unless admin_product.new_record? %>
    <div class="my-5">
      <%= link_to "Edit Product Size/Price/Stock", admin_product_stocks_path(admin_product), class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    </div>
  <% end %>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
