<!DOCTYPE html>
<html>
  <head>
    <title>Southcoast Fibreglass Supplies Ltd</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true, type: "module" %>
    <%= render "shared/honeybadger_js" %>

    <%= favicon_link_tag %>
</head>

  <body>
    <main class="flex">
      <div class="flex w-full">
        <nav class="sticky top-0 w-64 h-screen p-4 bg-gray-600">
          <div class="flex mb-4">
            <%= image_tag 'SCFS-Logo.jpg', class: 'h-12 w-auto mr-2' %>
            <h1 class="hidden py-2 font-bold text-white text-md md:block">Administration</h1>
          </div>
          <ul class="flex flex-col text-white">
            <li>
              <%= link_to admin_path, class: "block px-4 py-2 hover:rounded hover:bg-gray-700" do %>
                <%= icon('fa-solid', 'gauge-high', class: 'mr-2') %> <span class="hidden md:inline-block">Dashboard</span>
              <% end %>
            </li>
            <li>
              <%= link_to admin_products_path, class: "block px-4 py-2 hover:rounded hover:bg-gray-700" do %>
                <%= icon('fa-solid', 'cart-shopping', class: 'mr-2') %> <span class="hidden md:inline-block">Products</span>
              <% end %>
            </li>
            <li>
              <%= link_to admin_categories_path, class: "block px-4 py-2 hover:rounded hover:bg-gray-700" do %>
                <%= icon('fa-solid', 'list', class: 'mr-2') %> <span class="hidden md:inline-block">Categories</span>
              <% end %>
            </li>
            <li>
              <%= link_to admin_orders_path, class: "block px-4 py-2 hover:rounded hover:bg-gray-700" do %>
                <%= icon('fa-solid', 'truck-fast', class: 'mr-2') %> <span class="hidden md:inline-block">Orders</span>
              <% end %>
            </li>
            <li>
              <%= link_to admin_reports_path, class: "block px-4 py-2 hover:rounded hover:bg-gray-700" do %>
                <%= icon('fa-solid', 'pie-chart', class: 'mr-2') %> <span class="hidden md:inline-block">Reports</span>
              <% end %>
            </li>
            <li>
              <%= link_to admin_audit_logs_path, class: "block px-4 py-2 hover:rounded hover:bg-gray-700" do %>
                <%= icon('fa-solid', 'clipboard-list', class: 'mr-2') %> <span class="hidden md:inline-block">Audit Logs</span>
              <% end %>
            </li>
            <li>
              <%= link_to admin_data_management_index_path, class: "block px-4 py-2 hover:rounded hover:bg-gray-700" do %>
                <%= icon('fa-solid', 'database', class: 'mr-2') %> <span class="hidden md:inline-block">Data Management</span>
              <% end %>
            </li>
            <li>
              <%= link_to admin_test_errors_path, class: "block px-4 py-2 hover:rounded hover:bg-gray-700" do %>
                <%= icon('fa-solid', 'bug', class: 'mr-2') %> <span class="hidden md:inline-block">Test Errors</span>
              <% end %>
            </li>
            <li>
              <% unread_count = Conversation.unresolved.count %>
              <%= link_to admin_conversations_path, class: "block px-4 py-2 hover:rounded hover:bg-gray-700 relative" do %>
                <%= icon('fa-solid', 'comments', class: 'mr-2') %>
                <span class="hidden md:inline-block">Chat</span>
                <% if unread_count > 0 %>
                  <span class="absolute top-1 left-6 md:relative md:top-auto md:left-auto md:ml-2 inline-flex items-center justify-center px-2 py-0.5 text-xs font-bold leading-none text-white bg-red-500 rounded-full">
                    <%= unread_count %>
                  </span>
                <% end %>
              <% end %>
            </li>
            <li>
              <% if current_admin_user.two_factor_enabled? %>
                <%= link_to edit_admin_users_two_factor_path, class: "block px-4 py-2 hover:rounded hover:bg-gray-700" do %>
                  <%= icon('fa-solid', 'shield-halved', class: 'mr-2') %> <span class="hidden md:inline-block">2FA Settings</span>
                <% end %>
              <% else %>
                <%= link_to new_admin_users_two_factor_path, class: "block px-4 py-2 hover:rounded hover:bg-gray-700 text-yellow-300" do %>
                  <%= icon('fa-solid', 'shield-halved', class: 'mr-2') %> <span class="hidden md:inline-block">Enable 2FA</span>
                <% end %>
              <% end %>
            </li>
            <li>
              <%= button_to destroy_admin_user_session_path, method: :delete, data: { "turbo-confirm": "Are you sure you want to sign out?" }, form: { class: "inline" }, class: "flex items-center w-full px-4 py-2 text-left text-white hover:rounded hover:bg-gray-700" do %>
                <%= icon('fa-solid', 'sign-out', class: 'mr-2') %> <span class="hidden md:inline-block">Sign out</span>
              <% end %>
            </li>
          </ul>
        </nav>
        <div class="w-full p-8">
        <%= yield %>
        </div>
      </div>
    </main>
  </body>
</html>
