<!DOCTYPE html>
<html>
  <head>
    <title>Southcoast Fibreglass Supplies Ltd</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true, type: "module" %>
    <% if Rails.env.production? && Honeybadger.config[:api_key].present? %>
      <%= javascript_include_tag "https://js.honeybadger.io/v6.11/honeybadger.min.js" %>
      <meta name="honeybadger-api-key" content="<%= Honeybadger.config[:api_key] %>">
      <meta name="honeybadger-environment" content="<%= Rails.env %>">
      <meta name="honeybadger-revision" content="<%= Honeybadger.config[:revision] %>">
    <% end %>

    <%= favicon_link_tag %>
</head>

  <body>
    <main class="flex">
      <div class="flex w-full">
        <nav class="sticky top-0 w-64 h-screen p-4 bg-gray-600">
          <div class="flex mb-4">
            <%= image_tag 'SCFS-Logo.jpg', class: 'h-12 w-auto mr-2' %>
            <h1 class="hidden py-2 font-bold text-white text-md md:block">Administration</h1>
          </div>
          <ul class="flex flex-col text-white">
            <li>
              <%= link_to admin_path, class: "block px-4 py-2 hover:rounded hover:bg-gray-700" do %>
                <%= icon('fa-solid', 'gauge-high', class: 'mr-2') %> <span class="hidden md:inline-block">Dashboard</span>
              <% end %>
            </li>
            <li>
              <%= link_to admin_products_path, class: "block px-4 py-2 hover:rounded hover:bg-gray-700" do %>
                <%= icon('fa-solid', 'cart-shopping', class: 'mr-2') %> <span class="hidden md:inline-block">Products</span>
              <% end %>
            </li>
            <li>
              <%= link_to admin_categories_path, class: "block px-4 py-2 hover:rounded hover:bg-gray-700" do %>
                <%= icon('fa-solid', 'list', class: 'mr-2') %> <span class="hidden md:inline-block">Categories</span>
              <% end %>
            </li>
            <li>
              <%= link_to admin_orders_path, class: "block px-4 py-2 hover:rounded hover:bg-gray-700" do %>
                <%= icon('fa-solid', 'truck-fast', class: 'mr-2') %> <span class="hidden md:inline-block">Orders</span>
              <% end %>
            </li>
            <li>
              <%= link_to admin_reports_path, class: "block px-4 py-2 hover:rounded hover:bg-gray-700" do %>
                <%= icon('fa-solid', 'pie-chart', class: 'mr-2') %> <span class="hidden md:inline-block">Reports</span>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_admin_user_session_path, data: { "turbo-method": :delete, "turbo-confirm": "Are you sure you want to sign out?" }, class: "block px-4 py-2 hover:rounded hover:bg-gray-700" do %>
                <%= icon('fa-solid', 'sign-out', class: 'mr-2') %> <span class="hidden md:inline-block">Sign out</span>
              <% end %>
            </li>
          </ul>
        </nav>
        <div class="w-full p-8">
        <%= yield %>
        </div>
      </div>
    </main>
  </body>
</html>
