<!DOCTYPE html>
<html>
  <head>
    <title>Southcoast Fibreglass Supplies Ltd</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <% if Rails.env.production? %>
      <%= javascript_include_tag "https://www.googletagmanager.com/gtag/js?id=G-481BNJ1GVB" %>
      <meta name="google-analytics-id" content="G-481BNJ1GVB" >
    <% end %>

    <%= favicon_link_tag %>
  </head>

  <body class="bg-blue-600">
    <%= render "shared/navbar" %>
    <main class="container px-2 mx-auto bg-blue-600 mt-28 max-w-7xl sm:px-6 lg:px-8">
      <%= yield %>
    </main>
    <%= render "shared/footer" %>
  </body>
</html>
