<!DOCTYPE html>
<html>
  <head>
    <title>Southcoast Fibreglass Supplies Ltd - Admin Login</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true, type: "module" %>
    <%= render "shared/honeybadger_js" %>
    <%= favicon_link_tag %>
  </head>

  <body>
    <main>
      <div class="fixed top-0 left-0 right-0 z-50 px-4 py-3">
        <div class="max-w-md mx-auto">
          <%= render 'admin/shared/flash_messages' %>
        </div>
      </div>

      <%= yield %>
    </main>
  </body>
</html>
